<div class="container">
    <h1 class="my-4">Ajouter universite</h1>
    <form>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom universite</label>
            <input type="text" class="form-control" id="bom">
        </div>
        <div class="mb-3">
            <label for="capacite" class="form-label">Capacite universite</label>
            <input type="text" class="form-control" id="capacite">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>