<div class="container">
    <h1 class="my-4">Ajouter reservation</h1>
    <form #f="ngForm" (ngSubmit)="add(f)">
        <div class="mb-3">
            <label  class="form-label">Année Universitaire</label>
            <input type="date" class="form-control" name="Année" [(ngModel)]="ress.anneeUniversitaire" required  #annee="ngModel" >

            <div class="alert alert-danger" *ngIf="annee.invalid && (annee.touched || annee.dirty)">
                <div *ngIf="annee.errors!['required']">Date is required !</div> 
            </div>
        </div>
        <div class="mb-3">
            <label  class="form-label">Chamber Id</label>
            <input type="number" class="form-control" name="Chamber"  [(ngModel)]="selectChamber" #chamber="ngModel" pattern="^[0-9]+$" >
            
            <div class="alert alert-danger" *ngIf="chamber.invalid && (chamber.touched || chamber.dirty)">
                <div *ngIf="chamber.errors!['pattern']">only numbers is required !</div> 
            </div>
        </div>
        <div class="mb-3">
            <label  class="form-label">Client Id</label>
            <!--input type="text" class="form-control" name="Client"  [(ngModel)]="ress.chambre" #chamber="ngModel" pattern="^[0-9]+$" >
            
            <div class="alert alert-danger" *ngIf="chamber.invalid && (chamber.touched || chamber.dirty)">
                <div *ngIf="chamber.errors!['pattern']">only numbers is required !</div> 
            </div-->
        </div>
        <!--div class="mb-3">
            <label  class="form-label">Status</label>
            <input type="text" class="form-control" name="Status">
        </div-->
        <input type="submit" [value]="getButtonMessage()" class="btn btn-primary">
    </form>
</div>