<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Bloc N°{{chambre.numeroChambre}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Type Chambre : {{chambre.type}}</p>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/chambre/list" class="btn btn-primary">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
